
body{
    /* border:solid red; */
    padding:10px;
    background-color:black;
    height:250vh;
    font-family:serif;
}
.nav{
    border:solid yellow;
    background-color:yellow;
    display:flex;
}
#nav-element{
    width:20%;
    text-align: center;
    height:60;
    margin:2px;
    color:blue;
    padding:10px;
    
}
#nav-element:hover{
    width:20%;
    text-align: center;
    height:20%;
    margin:10px;
    color:white;
    padding:10px;
    background-color:blue;
    transition:.5;
    
}

.parent{
    height:100vh;
    background-image: linear-gradient(to bottom,orange,red, purple,blue);
    display:flex;
    
}
.link-stretch{
    color:yellow;
    font-size:22px;
}
#link-flat{
    /* border:solid lemonchiffon; */
    text-align:center;
    padding:12px;
    margin:42px;
}
#link-flat:hover{
    border:solid lemonchiffon;
    text-align:center;
    padding:12px;
    margin:42px;
    background-color: grey;
}
.slogan{
    color:white;
    font-size:28px;
    border:solid grey;
    text-align:center;
    padding:12px;

}
.slogan:hover{
    color:white;
    font-size:35px;
    border:solid grey;
    text-align:center;
    padding:12px;
    transition:.4s;

}
.drop{
    border:solid lemonchiffon;
    height:90vh;
    width:20%;
    margin-right:20%;
    text-align:center;
}
.drp-link{
    border:solid lemonchiffon;
    border-width:2px;
    margin:20px;
    color:lemonchiffon;
    padding:2px;
}
.drp-link:hover{
    /* border:solid green; */
    margin:20px;
    color:blue; 
    background-color:lemonchiffon;
    border-width:2px;
}
.cbsMain{
    width:100%;
    height:65vh;
    
    /* margin-left:10%; */
}
.footLogo{
    width:90%;
    /* margin-left:18%; */
    height:500px;
}